* {
    background: hsl(225, 36%, 70%);
}

body{
     overflow: hidden;
 }

/* start screen */

.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 20px;
    margin: 100px 0px;
}

.arrows {
    width: 120px;
}

.instructions {
    width: 700px;
}

#play-btn {
    background-color: #c6e2c0;
    border-radius: 10%;
    opacity: 0.5;
    transition: transform .2s;
    padding: 0;
    border-color: none;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    outline-style: none;
}

#play-btn:hover {
    transform: scale(1.5);
    opacity: 0.8;
    animation: shake 0.5s; 
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  /* start screen */


  /* game screen */

  #gameCanvas{
    /* background: rgba(255, 255, 255, 0.864); */
    background-image: url("images/tilesAndBathtub.png");
    background-size: 1000px 800px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
    border-radius: 3%;
  }
  

    /* game screen */


    /*end screen*/

.end-screen{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

#restart-btn{
    padding: 10px;
    margin: 20px;
    background-color: #c6e2c0;
    border-radius: 10%;
    opacity: 0.5;
    transition: transform .2s;
    padding: 0;
    border-color: none;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    outline-style: none;
}

    /*end screen*/